<div class="panel panel-default">
    <div class="panel-body">
      <form id="contact-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="email">Entry</label>
            <textarea
              type="text"
              id="content"
              class="form-control required"
              size="120"
              max="255"
              name="content"
              [ngModel]="journal?.content"
              #content="ngModel"
              required></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>
  